footer {
    justify-content: center;
    text-align: center;
    background-color: var(--background-color);
    display: grid;
    font: 400 .875rem/150% var(--font-family);

}

@media (width >= 80em) {
    footer {
       display: flex;
       justify-content: space-between;
       margin-inline: 0;
       padding: 1.5rem 2rem;

}
}