main {
background-color: var(--background-color);
justify-content: center;

& img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 20.5rem;
height: 100%;
}

}

@media (width >= 80em) {
   & main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 1.5rem 2rem;

        & img {
            width: 17.875rem;
        }
    }
}